div {
    width: auto;
    padding: 0;    
    margin-top: 70px;
    margin-left: 50px;
    border: 1px solid;
    display: inline-block;
    cursor: pointer;
}

h1{
    background: green; 
    text-align: center;
    color: white;
}

.boton{
    margin: 15px;
    background: green;
    color: white;
    cursor: pointer;
    margin-left: 30%;    
}

img{
    width: 25px;       
}

.title{
    color: gray;
    text-align: center;
}

.resul{
    color: green;
    font-size: 50px;
}

li{
    margin: 15px;
    list-style: none;
}